@page
@model BookListRazor.Pages.Views.Book.IndexModel
@{
    ViewData["Title"] = "Index";
}

<Br />
<div class="container row">
    <div class="col-md-6">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col-md-6 text-right">
        <a asp-page='CreateBook' class="btn btn-primary">Create New Book</a>
    </div>
         
</div>

